apiVersion: v1
kind: Service
metadata:
  name: service #The name of the Kubernetes Service to be created in the Kubernetes cluster
  namespace: ali
spec:
  selector:
    app: hellonode-app 
  type: ClusterIP #Type of the Kubernetes Service
  ports:
  - protocol: TCP
    port: 8000 #Service port
    targetPort: 8000 #The port for the node.js application container
